<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Empleado</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></head></head>
<body>
    <div class="container mt-5">
        <h2>Registrar Empleado</h2>
        <form th:action="@{/registrar_estudiante}" th:object="${estudiante}" method="post" class="mt-4">
       		<div class="form-group">
				<label for="dni">DNI:</label>
				    <input type="text" th:field="*{dni}" id="dni" required maxlength="8"/>
            </div>
			<div class="form-group">
			    <label for="codAlumno">Código Alumno:</label>
			    <input type="text" th:field="*{codAlumno}" id="codAlumno" required maxlength="6" pattern="[A-Za-z0-9]{6}" title="Debe contener exactamente 6 letras o dígitos."/>
			</div>

            <div class="form-group">
				<label for="nombres">Nombres:</label>
				    <input type="text" th:field="*{nombres}" id="nombres" required/>
            </div>
            <div class="form-group">
				<label for="apellidos">Apellidos:</label>
				   <input type="text" th:field="*{apellidos}" id="apellidos" required/>
            </div>
            <div class="form-group">
				<label for="fechaNaci">Fecha de Nacimiento:</label>
				   <input type="date" th:field="*{fechaNaci}" id="fechaNaci" required/>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>